/*
            SPACING SYSTEM (px)
            2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

            FONT SIZE SYSTEM (px)
            10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
            */

/*
            MAIN COLOR: #087f5b
            GREY COLOR: #343a40
            HOVER COLOR: #099268
            */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: sans-serif;
  color: #343a40;
  line-height: 1;
}

p {
  font-size: 13px;
}

.testimonial {
  margin: 100px auto;
  /* background-color: aqua; */
  background-color: hsl(210, 46%, 95%);
  max-width: 1444px;
  display: grid;
}

.container {
  /* width: 1444px;
  margin: 100px auto; */
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  position: relative;
  gap: 42px;
}

.testimonial-title {
  color: hsl(210, 46%, 95%);
  margin-bottom: 24px;
  line-height: 1.2;
  letter-spacing: -0.7px;
  line-height: bold;
  margin-top: 24px;
}

.testimonial-content {
  color: hsl(0, 0%, 81%);
  line-height: 1.5;
}
.testimonial-name {
  color: hsl(0, 0%, 81%);
}

.verified {
  /* color: hsl(0, 0%, 81%); */
  color: red;
}

.name,
.title,
.content {
  color: #555;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 12px;

  /* flex-direction: column; */
}

li {
  list-style: none;
}

/* TESTIMONIAL PEOPLE */
.testimonial-daniel {
  background-color: hsl(263, 55%, 52%);
  width: 700px;
  padding: 24px 28px;
  border-radius: 9px;
}
.testimonial-jonathan {
  background-color: hsl(217, 19%, 35%);
  width: 300px;
  padding: 32px;
  border-radius: 9px;
}
.testimonial-jeanette {
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  padding: 24px;
  border-radius: 9px;
}
.testimonial-patrick {
  background-color: hsl(219, 29%, 14%);
  padding: 32px 44px;
  width: 700px;
  border-radius: 9px;

  position: absolute;
  top: 51%;
  left: 340px;
}

.testimonial-kira {
  background-color: hsl(0, 0%, 100%);
  grid-column: 3/4;
  grid-row: 1/4;
  border-radius: 9px;

  width: 320px;
  height: 720px;
  /* padding: 32px 62px; */
  padding: 32px 32px;
}

img {
  width: 32px;
  border-radius: 50%;
}
